<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<%= include partial/html_head %>
<body id="create_account">
	<div class="container-fluid narrow">
		<div class="row-fluid">
			<div class="span12">
				<h1>Create an Account</h1>
				<p>You're like, one step away from making Secret Santa easier. Why put names in a hat when you can let an app do it for you?</p>
			</div><!--span12-->
			<div class="span12">
				<div class="alert alert-error">
					<button data-dismiss="alert" class="close">&times;</button>
					<strong>Error</strong> please correct the following:
					<ul>
						<li>Email is required</li>
						<li>Password is required</li>
					</ul>

				</div>
				<form action="/list" method="post" class="form-horizontal">
					<div class="control-group">
						<label for="enter_your_name" class="control-label">Name:</label>
						<div class="controls">
							<input type="text" id="enter_your_name" name="name">
						</div>
					</div>
					<div class="control-group">
						<label for="enter_your_email" class="control-label">Your Email: </label>
						<div class="controls">
							<input type="email" id="enter_your_email" name="email">
						</div><!--controls-->
					</div><!--control-group-->
					<div class="control-group">
						<label for="enter_your_password" class="control-label">Your Password: </label>
						<div class="controls">
							<input type="password" id="enter_your_password" name="password">
						</div><!--controls-->
					</div><!--control-group-->
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn btn-primary">Do it!</button>
							<button type="reset" class="btn">Cancel</button>
						</div>
					</div>
				</form>
			</div><!--span12-->
		</div><!--row-fluid-->
	</div><!--container-->
</body>
</html>